body {
	font-family: helvetica, arial, sans-serif;
	font-size: 10pt;
}

a { color: #58C267; }
a:hover { color: #58C267; }

code { color: #08c; }

.navbar-inner {
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav>li>a {
	float:none;
	color:#58C267;
}

.navbar .nav>li>a:hover {
	background-color:transparent;
	color:#ffffff;
	text-decoration:none;
}

.navbar .nav .active>a,.navbar .nav .active>a:hover {
	color:#ffffff;
	text-decoration:none;
	background-color:#222222;
}

footer .logo {
	display: block;
	margin: 0 auto 15px auto;
	width: 69px;
	height: 40px;
}

footer p {
	text-align: center;	
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#58C267;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}