/* --------------------------------------------------
/* Default
/* -------------------------------------------------- */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	line-height: 1.5em;
	color: #333;
}

a { color: #58C267; text-decoration: none; }
a:hover { color: #58C267; text-decoration: underline; }

em { font-style:italic; }

hr { border: 0; height: 1px; color: #eee;background-color: #eee; }

ol { list-style: decimal; margin: 0 0 0 2em; }
ul { list-style: disc; margin: 0 0 0 2em; }

.navbar { background-color: #333; margin: 0 0 20px 0; overflow: auto; }
.navbar-inner { width: 900px; margin: auto; }
.navbar .brand { color: #fff; font-size: 16pt; float: left; padding: 10px 20px 10px 0px; }
.navbar .nav { float: left; }
.navbar .nav li { float: left; padding: 14px 20px 10px 0px; }
.navbar .logo { float: right; width: 34px; height: 20px; margin: 10px 0px 0 0; }

.container { width: 900px; margin: auto; }

/* --------------------------------------------------
/* Page
/* -------------------------------------------------- */

h1 { font-size: 24pt; font-weight: bold; line-height: 1.5em; }
h2 { font-size: 20pt; font-weight: bold; line-height: 1.5em; }
h3 { font-size: 16pt; font-weight: bold; line-height: 1.5em; }
h4 { font-size: 12pt; font-weight: bold; line-height: 1.5em; }

code { font-size: 9pt; font-family: Menlo, Monaco, "Courier New", monospace; border: 1px solid #ccc; background-color: #eee; padding: 0.1em 0.3em; }
pre { border: 1px solid #ccc; background-color: #eee; padding: 0.8em; white-space: pre-wrap; margin: 1em 0 1em 0; }
pre code { border: 0; padding: 0; background-color: transparent; line-height: 0.8em; }

/* --------------------------------------------------
/* Post
/* -------------------------------------------------- */

.post { margin: 0 0 1em 0; padding: 0 0 1em 0; clear: left; border-bottom: 1px solid #eee; }
.post h1 { margin: 0 0 0.2em 0; line-height: 1em; }
.post h1 a { color: #333; }
.post .date { font-size: 10pt; color: #666; }
.post .content { margin: 10px 0 0 0; }
.post p { margin: 1em 0 1em 0;}
.post p:first-child { margin-top: 0;}
.post li p { margin: 0;}

.page-header h1 { border-bottom: 1px solid #eee; padding: 0em 0 0.6em 0; margin: 0 0 1em; line-height: 1.0em; }

.left-column { width: 700px; float: left; }
.right-column { width: 180px; margin: 0 0 0 20px; float: left; }
.right-column .date { margin: 0 0 10px 0;}

/* --------------------------------------------------
/* Footer
/* -------------------------------------------------- */

footer { clear: both; }
 
footer .logo {
	display: block;
	margin: 0 auto 15px auto;
	width: 69px;
	height: 40px;
}

footer p {
	text-align: center;	
}

/* --------------------------------------------------
/* Tags
/* -------------------------------------------------- */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#58C267;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}